* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    position: relative;
}

.container .navbar {
    width: 100%;
    background-color: #e63946;
    padding: 10px;
    font-size: 26px;
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 5px solid #457b9d;
}

.navbar .right {
    display: flex;
}

.navbar .right ul {
    display: flex;
}

.navbar .right li {
    list-style: none;
    display: block;
}

.navbar a {
    text-decoration: none;
    color: #f1faee;
    margin: 0 1rem;
    transition: all .2s linear;
}

.navbar a:hover {
    color: #a8dadc;
}

.navbar .toggle-btn {
    width: 30px;
    height: 21px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .toggle-btn .bar {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #f1faee;
}

.container .firstPage {
    width: 100%;
    height: 100vh;
    background-color: #a8dadc;
    display: flex;
    position: relative;
    overflow: hidden;
}

.firstPage .info {
    width: 100%;
    text-align: center;
    margin-top: 20rem;
    z-index: 5;
}

.info h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 50px;
    color: #1d3557;
}

.info span {
    color: #e63946;
}

.firstPage .range,
.range2,
.range3 {
    width: 100%;
    height: 30px;
    background-color: #f1faee;
    border: 1px solid #fff;
    position: absolute;
    display: block;
    z-index: 1;
    top: 40%;
    right: -18%;
    transform: rotate(90deg);
}

.range2 {
    right: -23%;
}

.range3 {
    right: -28%;
}

.container .secondPage {
    width: 100%;
    padding: 3rem 0;
}

.name {
    text-align: center;
    font-size: 26px;
    color: #1d3557;
}

.line {
    width: 8%;
    height: 5px;
    background-color: #e63946;
    margin: 0 auto;
}

.secondPage .block {
    width: 70%;
    margin: 4rem auto;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.block .box {
    padding: 5px 10px;
    text-align: center;
}

.box .figure {
    background-color: #a8dadc;
    margin: 1rem auto;
    border: 1px solid #457b9d;
    z-index: 1;
}

.part i {
    font-size: 50px;
    color: #1d3557;
    margin-top: 28px;
    z-index: 2;
    transition: all .2s linear;
}

.part:hover i {
    font-size: 52px;
    margin-top: 25px;
}

.box h1 {
    font-size: 32px;
    color: #1d3557;
    margin: .5rem 0 0 0;
}

.box p {
    font-size: 20px;
    color: #1d3557;
    opacity: 0.8;
    margin: 0;
}

.hexa,
.hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.hexa {
    width: 210px;
    height: 110px;
}

.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    background-color: #a8dadc;
    transform: rotate(-60deg);
}

.secondPage .main {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    text-align: center;
}

.img .hexa {
    width: 310px;
    height: 260px;
}

.about .img .hexa div {
    width: 100%;
    height: 100%;
}

.about .img .hex2 img {
    width: 300px;
    height: 260px;
}

.about h1 {
    font-size: 32px;
    color: #1d3557;
    margin: 1rem 0;
}

.about .sentences {
    width: 60%;
    margin: 1rem auto;
}

.about .sentences p {
    font-size: 20px;
    color: #1d3557;
    opacity: 0.8;
    margin: 0;
}

.secondPage .success {
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    padding-right: 2rem;
    display: flex;
}

.success .programms {
    width: 30%;
    display: block;
    padding: 5px;
}

.programms .language {
    width: 100%;
    height: 7vh;
    margin: 5px 0;
    padding: 10px;
    background-color: #457b9d;
    color: #fff;
}

.success .percentage {
    width: 80%;
    display: block;
    padding: 5px;
}

.percentage .rate {
    width: 100%;
    height: 7vh;
    margin: 5px 0;
    text-align: end;
    padding: 10px 15px;
    background-color: #a8dadc;
    color: #1d3557;
}

.container .thirdPage {
    width: 100%;
    padding: 3rem 0;
    background-color: #f1faee;
}

.thirdPage .full {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
}

.full .work {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    transition: all .5s linear;
}

.work .art {
    width: 33%;
    height: 40vh;
    background-color: #457b9d;
    transition: all .5s linear;
    /*background-image: url(../portfolio/images/art1.png);
    */
    opacity: .7;
    cursor: cell;
}

.art .display {
    color: #fff;
}

.art:hover .display {
    display: block;
}

.art:hover {
    opacity: 1
}

.art .display {
    width: 100%;
    text-align: center;
    margin-top: 25%;
    display: none;
}

.display h1,
h2 {
    margin: 0;
}

.display button {
    width: 40%;
    height: 40px;
    font-size: 24px;
    color: #1d3557;
    margin: 1rem 0;
    padding: 4px 15px;
    background-color: #f1faee;
    border: 3px solid #1d3557;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.display button:hover {
    cursor: pointer;
    color: white;
    border: 1px solid #fff;
    background-color: #457b9d;
}

.display button:focus {
    background-color: #3b6a86;
    color: white;
}

.container .fivthPage {
    width: 100%;
    padding: 3rem 0 0 0;
    background-color: #a8dadc;
    text-align: center;
}

.fivthPage .ask {
    margin: 1.5rem 0 2rem 0;
    font-size: 24px;
}

.fivthPage .submit {
    width: 35%;
    margin: 2rem auto;
    margin-bottom: 5rem;
    display: block!important;
}

.submit input {
    width: 100%;
    height: 45px;
    margin-bottom: 0.5rem;
    padding: 5px 20px;
    font-size: 22px;
    border: none;
    color: #1d3557;
    background-color: #f1faee;
    border-radius: px;
}

.submit input[type=text]:focus {
    border: none;
}

.submit textarea {
    width: 100%;
    height: 180px;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    color: #1d3557;
    background-color: #f1faee;
    border-radius: 2px;
}

.submit button {
    width: 25%;
    height: 50px;
    font-size: 26px;
    color: #1d3557;
    margin: 1rem 0;
    padding: 8px 15px;
    background-color: #f1faee;
    border: 3px solid white;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.submit button:hover {
    cursor: pointer;
    color: white;
    background-color: #457b9d;
}

.submit button:focus {
    background-color: #3b6a86;
    color: white;
}

.fivthPage footer {
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 3rem 0 1rem 0;
    border-top: 5px solid #3b6a86;
    background-color: #e63946;
    position: relative;
}

footer .home {
    width: 50px;
    height: 60px;
    padding: 10px 0;
    font-size: 30px;
    background-color: #3b6a86;
    position: absolute;
    top: -10%;
    right: 48.5%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.home i {
    color: #f1faee;
}

footer .home:hover {
    background-color: #5191b6;
}

footer .icons {
    width: 20%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

footer .icons .icon {
    width: 70px;
    height: 50px;
    padding: 10px;
    margin: 1rem;
    background-color: #a8dadc;
    font-size: 28px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.2s linear;
}

footer .icons .icon:hover {
    background-color: #457b9d;
}

.icons a i {
    color: #1d3557;
    transition: all 0.2s linear;
}

.icon:hover i {
    color: #f1faee;
}

footer h1 {
    color: #1d3557;
    margin: 1rem 0;
    font-family: monospace;
    font-size: 20px;
}

@media screen and (max-width: 447px) {
    .navbar .toggle-btn {
        display: flex;
    }
    .navbar .right {
        width: 100%;
        display: none;
        z-index: 2000;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .right ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar .right ul li {
        text-align: center;
    }
    .navbar .right ul li {
        padding: .5rem;
    }
    .navbar .active {
        display: flex!important;
    }
    .navbar .right a:hover {
        color: #1d3557;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .container .navbar {
        width: 100%;
        height: auto;
    }
    .container .firstPage {
        width: 100%;
        height: 100vh;
    }
    .firstPage .info {
        width: 100%;
        margin-top: 15rem;
    }
    .firstPage .range,
    .range2,
    .range3 {
        display: none;
    }
    .name {
        text-align: center;
        font-size: 20px;
    }
    .line {
        width: 20%;
        height: 4px;
        margin: 0 auto;
    }
    .secondPage .block {
        width: 70%;
        margin: 3rem auto;
        display: block;
    }
    .secondPage .main {
        width: 70%;
        display: block;
        margin: auto;
    }
    .hexa {
        width: 190px;
        height: 90px;
    }
    .part i {
        font-size: 40px;
        color: #1d3557;
        margin-top: 24px;
    }
    .box h1 {
        font-size: 30px;
    }
    .box p {
        font-size: 18px;
    }
    .img .hexa {
        width: 250px;
        height: 200px;
    }
    .about .img .hex2 img {
        width: 250px;
        height: 210px;
    }
    .about .sentences {
        width: 100%;
    }
    .secondPage .success {
        width: 100%;
        padding: 0;
    }
    .success h2 {
        font-size: 18px;
    }
    .success .programms {
        width: 40%;
        padding: 5px;
    }
    .programms .language {
        width: 100%;
        height: 5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .success .percentage {
        width: 100%;
        padding: 5px;
    }
    .percentage .rate {
        width: 100%;
        height: 5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .container .thirdPage {
        width: 100%;
    }
    .thirdPage .full {
        width: 70%;
        margin-top: 3rem;
    }
    .full .work {
        width: 100%;
        display: block;
    }
    .work .art {
        width: 100%;
        height: 25vh;
        margin-bottom: 5px;
        padding-top: 2.5rem;
    }
    .art .display {
        margin-top: 0;
    }
    .display h1,
    h2 {
        font-size: 24px;
    }
    .display button {
        padding: 4px 10px;
    }
    .full .none {
        display: none;
    }
    .fivthPage .submit {
        width: 80%;
    }
    .submit button {
        width: 47%;
        padding: 4px 10px;
    }
    footer .home {
        right: 44%;
    }
}

@media (min-width: 447px) and (max-width: 769px) {
    .navbar .toggle-btn {
        display: flex;
    }
    .navbar .right {
        width: 100%;
        display: none;
        z-index: 1000;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .right ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar .right ul li {
        text-align: center;
    }
    .navbar .right ul li {
        padding: .5rem;
    }
    .navbar .active {
        display: flex!important;
    }
    .navbar .right a:hover {
        color: #1d3557;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .container .navbar {
        width: 100%;
        height: auto;
    }
    .container .firstPage {
        width: 100%;
        height: 100vh;
    }
    .firstPage .info {
        width: 100%;
        margin-top: 22rem;
    }
    .firstPage .range,
    .range2,
    .range3 {
        display: none;
    }
    .container .secondPage {
        width: 100%;
        padding: 1rem 0;
    }
    .name {
        text-align: center;
        font-size: 22px;
    }
    .line {
        width: 15%;
        height: 5px;
    }
    .secondPage .block {
        width: 70%;
        display: block;
    }
    .secondPage .main {
        width: 70%;
        display: block;
    }
    .about .sentences {
        width: 100%;
    }
    .secondPage .success {
        width: 100%;
        padding: 0;
    }
    .success h2 {
        font-size: 18px;
    }
    .success .programms {
        width: 40%;
        padding: 5px;
    }
    .programms .language {
        width: 100%;
        height: 5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .success .percentage {
        width: 100%;
        padding: 5px;
    }
    .percentage .rate {
        width: 100%;
        height: 5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .container .thirdPage {
        padding: 1rem 0;
    }
    .thirdPage .full {
        width: 70%;
        margin-top: 3rem;
    }
    .full .work {
        width: 100%;
        display: block;
    }
    .work .art {
        width: 100%;
        height: 35vh;
        margin-bottom: 5px;
        padding-top: 2.5rem;
    }
    .art .display {
        margin-top: 0;
    }
    .full .none {
        display: none;
    }
    .container .fivthPage {
        padding: 1rem 0 0 0;
    }
    .fivthPage .submit {
        width: 70%;
    }
    .submit button {
        width: 40%;
        padding: 4px 10px;
    }
    footer .home {
        right: 45%;
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .firstPage .range,
    .range2,
    .range3 {
        display: none;
    }
    .firstPage .info {
        width: 100%;
        height: 100vh;
        margin-top: 20rem;
    }
    .container .secondPage {
        padding: 2rem 0;
    }
    .container .secondPage {
        width: 100%;
    }
    .secondPage .block {
        width: 70%;
        display: flex;
        margin: 3rem auto;
        justify-content: center;
    }
    .block .box {
        padding: 0;
    }
    .hexa {
        width: 185px;
        height: 85px;
    }
    .part i {
        font-size: 40px;
        color: #1d3557;
        margin-top: 24px;
    }
    .part:hover i {
        font-size: 45px;
        margin-top: 22px;
    }
    .box h1 {
        font-size: 30px;
    }
    .box p {
        font-size: 16px;
    }
    .secondPage .main {
        width: 70%;
        display: flex;
        margin: 0 auto;
    }
    .img .hexa {
        width: 250px;
        height: 200px;
    }
    .about .img .hex2 img {
        width: 250px;
        height: 210px;
    }
    .about .sentences {
        width: 80%;
    }
    .secondPage .success {
        width: 150%;
        padding-right: 0;
        display: flex;
    }
    .success .programms {
        width: 50%;
        padding: 5px;
    }
    .programms .language {
        width: 100%;
        height: 6vh;
        margin: 5px 0;
        padding: 10px;
    }
    .success .percentage {
        width: 150%;
        padding: 5px;
    }
    .percentage .rate {
        width: 150%;
        height: 6vh;
        margin: 5px 0;
        padding: 10px;
    }
    .thirdPage .full {
        width: 90%;
    }
    .work .art {
        width: 33%;
    }
    .display button {
        padding: 4px 10px;
    }
    .fivthPage .submit {
        width: 60%;
    }
    .submit button {
        width: 40%;
    }
    footer .home {
        right: 47%;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .secondPage .block {
        width: 90%;
        margin: 3rem auto;
        display: flex;
    }
    .block .box {
        padding: 0;
    }
    .about .sentences {
        width: 80%;
    }
    .secondPage .success {
        width: 150%;
        padding-right: 0;
        display: flex;
    }
    .success .programms {
        width: 50%;
        padding: 5px;
    }
    .programms .language {
        width: 100%;
        height: 6.5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .success .percentage {
        width: 150%;
        padding: 5px;
    }
    .percentage .rate {
        width: 130%;
        height: 6.5vh;
        margin: 5px 0;
        padding: 10px;
    }
    .thirdPage .full {
        width: 90%;
    }
    .display button {
        width: 50%;
        padding: 4px 10px;
    }
    .fivthPage .submit {
        width: 45%;
    }
    .submit button {
        width: 40%;
    }
    footer .home {
        right: 47.5%;
    }
}